<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

 <h2>Your Cart</h2>
 <table>
        <% @arr = Array.new %>
       <% @added_to_cart.each do |item| %>
     
      <tr>
         <td><%= item.product.title %></td>
         <td><%= item.quantity %></td>
         <td class="item_price"><%= number_to_currency(item.product.price * item.quantity) %></td>
 
         <% @arr << item.product.price * item.quantity  %>
        <td><%= link_to 'remove',mycart_delete_path(:item_id => item.id), method: :post %></td>
     </tr>
   <% end %>
         <% $sum = @arr.sum %>
         
      <tr class="total_line">
      
      <td>Total</td>

      <td class="total_cell"><%= number_to_currency($sum) %></td>

     </tr>
 
 </table>
   


 <table>
  <tr>
    <td>
    <%= button_to "Checkout", new_order_path, :method => :get %>
    </td>
   <%= button_to 'continu_shopping', '/' %>