<h1>Listing orders</h1>

<table>
  

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description">
        <dl> </dl>
          <dt>Name: <%= order.name %></dt>
          <dt>Adress: <%= order.address %></dt>
          <dt>Email: <%= order.email %></dt>
          <dt>Pay type: <%= order.pay_type %></dt>
        </td>
     
      <td class="list_actions">
        <dd><%= link_to 'Show', order %>
        <%= link_to 'Edit', edit_order_path(order) %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

