<table >
     <tr>
     	<th>Product</th>
     	<th>Quantity</th>
     	<th>Time</th>
     	<th>Price</th>
     </tr>
   
    <% @mycart.each do |mycart| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= mycart.product.title %></td>	
        <td><%= mycart.quantity %></td>
        <td><%= mycart.created_at %></td>
        <td><%= number_to_currency(mycart.product.price * mycart.quantity) %></td>

     </tr>
   <% end %>
 </table>